.red {
    border: 1px solid red
}

.blue {
    border: 1px solid blue
}

.green {
    border: 1px solid green
}

.login-container {
    .content-right {
        border       : 1px solid #ccc;
        border-radius: 10px;
    }
}